#gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    place-items: center;
}
picture {
    background-color:#fff;}
img { 
    width: 100%;
    height: auto;
   }
.hover:hover {
    box-shadow: 0 0 50px #333;}
    .label{
        text-align:  right;
        font-weight: var(--font-weight);
        /* 
        width: var(--label-width);
        display: inline-block;
        text-align: end; */
    }
    .label ,
    .value{
        padding: var(--padding);
        font-size: var(--font-base);
   }
   .value{
       text-align: start;
   }

   .temple{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    padding: var(--padding);
   }
   .detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -10px;
    grid-gap: 10px;
    padding-right: 10px;
   }