:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: "Bangers", "Arial Narrow Bold", sans-serif;
  --font-sub-header: "Oswald", "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color:  #792047; /*Murrey*/
    --secondary-color: #D4C2FC; /*PeriWinkle*/
    --tertiary-color: #f6f6e2; /*Beige*/
    --auxiliar-color: #00635D; /*Caribbean Current*/
    --light-text: #F7FFF7; /*White*/
    --dark-text: #01172F; /*Oxford Blue*/
  
    /* sizes */
    --font-base: 1.2em;
    --small-font: 0.8em;
    --large-font: 2em;
    --headline-font: 2.2em;
    --title-font: 2.8em;
    --font-weight: 800;

    /* labels */
    --label-width: 7em;
    /* general  area*/
    --padding: 0.5rem;
  }

  footer {
    font-size: var(--font-base);
    color: var(--light-text);
    background-color:  var(--primary-color);
    padding: var(--padding);
    text-align: center;
  }
body{
  font-family: var(--font-body);
  background-color: var(--auxiliar-color);
}

header, main, footer{
  margin: 1rem auto;
  padding: 0.5rem;
}
h1{
  color: var(--light-text);
  font-size: var(--title-font);
  font-family: var(--font-headline);
  margin: 0.25rem;

}
h2{
  font-family: var(--font-sub-header);
  text-align: center;
  color: var(--primary-color);
  font-size: var(--headline-font);
}
h3{
  text-align: justify;
  color: var(--primary-color);
  font-size: var(--large-font);
  text-decoration: underline wavy var(--auxiliar-color);
  text-underline-offset: 10px;  
}
header{
  background-color:  var(--primary-color);
  display: flex;
  justify-content :space-between;
  flex-direction: column;
  align-items: center;
  gap: 1%;
}
#logo{
  background-color: #ffff;
  padding: 1rem;
  max-width: 30px;
  border-radius: 2rem;
  display: inline;
}
#logo img{
  margin: 0 auto;
  max-width: 100%;
}
#menu::before {
content: "☰";
}
#menu.open::before {
content: "X";
}
#menu {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background: var(--light-text);
  color: var(--auxiliar-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-top: 1%;
}
#menu:hover{
  background-color: var(--secondary-color);
  cursor: pointer;
}
.open a {
display: block;
}
nav {
  font-family: var(--font-headline);
  background-color: var(--tertiary-color);
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}
nav a {
  display: none;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: var(--small-font);
  letter-spacing: 5px;
  font-weight: var(--font-weight);
}
a{
  cursor: pointer;
}
.open a {
display: block;
}
nav a:hover {
  text-decoration:overline;
  background-color: var(--secondary-color);
  color: var(--light-text);

}
main{
  max-width: 1000px;  
  margin: auto;
  background-color: var(--light-text);
}
#gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  place-items: center;
}
section{
  margin: 1rem;
}
.content{
  padding-left: 2rem;
}

#hero img{
  width: 100%;
}
#name{
  color: var(--auxiliar-color);
}
.active, .activePage{
  color: var(--tertiary-color);
  background-color: var(--dark-text);
}
#visitsDisplay{
  margin: 0.5rem;
  text-align: center;
}
