main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto ;
    text-align: center;
    margin-top: 1rem;
}
main > section{
    border: 5px solid var(--secondary-color);
}
#events{
   grid-column: 1/4;
}
#weather{
    grid-column: 4/7;
}
#members{
    grid-column: 1/7;
    justify-content: center;
}

section h3 {
    margin: 0;
}

h3{
    background-color: var(--secondary-color);
    color: var(--light-text);
}

#hero img{
    width: 100%;
    height: auto;
    
}

#join{
    position: absolute;
    background: var(--secondary-color);
    width: 35%;
    right: 30px;
    top:  350px;
    height: min-content;
    color: var(--light-text);
    text-align: center;
    font-family: var(--font-header);
    padding: 5%;
    box-shadow: 0 0 30px #777;
    border: 1px solid #333;
}
#join p{
    font-family: var(--font-body);
    text-align: left;
}
#join form{
    font-family: var(--font-body);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type=submit]{
    background-color: var(--secondary-color);
    color: var(--light-text);
    height: 50px;
    font-size: var(--medium-font);
    font-family: var(--font-header);
    font-weight: 400;
    cursor: pointer;
}
input[type=submit]:hover{
    color: var(--dark-text);
    background-color: var(--primary-color);
}
#spotlights{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#spotlights section {
    margin: 0.25rem;
    padding: 1rem;
    box-shadow: 0 0 30px #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }

  li{
    list-style: none;
  }

  @media screen and (max-width: 900px){
    main{
        display: flex;
        flex-flow: column nowrap;
    }
    #join{
        position: static;
        background: var(--secondary-color);
        color: var(--light-text);
        text-align: center;
        font-family: var(--font-header);
        margin: 0 auto;
        width: 50%;
    }
    #join p, #join form{
        font-family: var(--font-body);
        text-align: left;
    }

  }
